name: Aternos Bot Run
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '*/15 * * * *' # এটি প্রতি ১৫ মিনিট পর পর চেক করবে

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install
      - run: node index.js
